
* {
    font-family: 'IBM Plex Sans', sans-serif 
}

html, body, #root, #page {
    height: 100%
}

h1, h2, h3, h4, h5, h6, small {
    color: #879DFA
}

#page {
    width: 100%
}

.radioButton, .checkboxButton {
    text-align: center;
    margin-bottom: 20px
}

.radioButton label, /* elementit joilla on luokka radiobutton, niiden sisällä olevat labelit saa nämä tyylit*/
.checkboxButton label,
.gameButton,
.lobbyButton,
.welcomeBtn {
  font-size: 16px;
  font-family: IBM Plex Sans;
  font-weight: 400;
  color: #879dfa;
  cursor: pointer;
  max-width: 400px;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 25px 20px;
  border: 2px solid #a3b4ff;
  border-radius: 6px;
  letter-spacing: 1px;
  user-select: none;
  transition: background-color 300ms, color 100ms;
}

.radioButton input[type="radio"]:checked + label {
    background-color:  #A3B4FF;
    color: #fcfcfc;
    font-family: IBM Plex Sans;
    font-weight: 600;
}

.container .row {
    margin-bottom: 16px
}

.gameButton {
    color: white;
    border: none;
    background-color: #879DFA
}
    
.radioButton input[type="radio"]:checked + label,
.checkboxButton input[type="checkbox"]:checked + label {
    background-color: #A3B4FF;
    color: #fcfcfc;
    font-family: IBM Plex Sans;
    font-weight: 600
}

.radioButton input[type="radio"], 
.checkboxButton input[type="checkbox"] {
    display: none
}

.gameList {
    border-radius: 5px;
    border: 2px solid #A3B4FF;
    overflow-y: scroll;
    max-height: 257px;
}

.questionCategoriesCheckboxList {
    width: 100%
}

.questionCategoriesCheckboxList .checkboxButton {
    margin-bottom: 0
}

.questionCategoriesCheckboxList .checkboxButton label {
    padding: 5px
}

.welcomePageGameButtonList {
    text-align: center
}

.welcomePageGameButtonList .gameButton {
    max-width: initial;
    margin-bottom: 24px
}

.welcomePageGameButtonList .gameButton:last-child {
    margin-bottom: 0
}

.statusBox {
    background-color: #fcfcfc;
    padding: 15px;
    color: #879DFA;
    border-radius: 10px;
    box-shadow: 1px 2px rgba(0,0,0,0.5)
}

.blueDivider {
    background-color: #edf0fe;
    color: #879DFA;
    width: 100%;
    margin: 20px auto 20px;
    height: min-content;
    font-size: 30px
}

.blueDivider:first-of-type {
    margin-top: 0
}

.gamertagLobby {
  padding: 6px 150px 7px 13px;
  margin: 5px 0 5px 0;
  border: 1px solid #879dfa;
  border-radius: 6px;
}

.gamertagTextLobby {
  font-size: 11px;
  color: #879dfa;
  margin-bottom: 0px;
}

.doneIconLobby {
  color: #879dfa;
}

.lobbyPlayers {
  padding: 60px 30px 30px 30px;
}

#createGamePageButton {
    font-size: 10px;
    font-family: IBM Plex Sans;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    width: 150px;
    height: 71%;
    text-align: center;
    padding: 8px 6px;
    border: 2px solid #A3B4FF;
    border-radius: 6px;
    letter-spacing: 1px;
    user-select: none;
    margin-top: 15px;
    transition: background-color 300ms, color 100ms
}

.welcomeBtnUpper {
  font-size: 12px;
  padding: 8px 6px;
  background-color: #879dfa;
  border: 2px solid #a3b4ff;
  margin-top: 15px;
  color:#fff;
}

.welcomeBtnLower {
  font-size: 12px;
  padding: 8px 6px;
  background-color: #879dfa;
  border: 2px solid #a3b4ff;
  margin-top: 15px;
  color:#fff;
}

.lobbyButton.lobbyReadyButton {
  font-size: 9px;
  height: 71%;
  padding: 8px 6px;
  background-color: #879dfa;
  border: 2px solid #a3b4ff;
  margin-top: 15px;
  color:#fff;
}

.lobbyButton.lobbyStartButton {
  font-size: 9px;
  height: 71%;
  padding: 8px 6px;
  border: 2px solid rgb(136, 226, 171);
  margin-top: 15px;
  margin-left: 3px;
  background-color: rgb(15, 189, 9);
  color:#fff;

}

.lobbyButton.lobbySendMessageButton {
  font-size: 9px;
  font-weight: 400;
  color: #ffffff;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 8px 6px;
  background-color: #879dfa;
  border: 2px solid #a3b4ff;
  margin: 2px 0px 0px 4px;
}

.chatBox {
  height: 250px;
  border: 1px solid #a3b4ff;
  border-radius: 6px;
  margin-bottom: 30px;
  overflow: auto;
  overflow-x: hidden;
}

.message {
  border-radius: 6px;
  min-width: 20%;
  max-width: 85%;
}

.messageOwn {
  align-self: flex-end;
}

.messageOther {
  align-self: flex-start;
}

.cardStyleOwn {
  background-color: #9ff58a;
  border-radius: 6px;
  margin: 2px;
  height: auto;
}

.cardStyleOther {
  background-color: #cad2f5;
  border-radius: 6px;
  margin: 2px;
  height: auto;
}

.messageText {
  font-size: 25px;
  margin-bottom: 2px;
  padding-right: 20px;
  color: #666699;
  max-width: 270px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
