
* {
    font-family: 'IBM Plex Sans', sans-serif 
}

html, body, #root {
    height: 100%
}

.radioButton {
    text-align: 'center';
    margin-bottom: '20px'
}

.radioButton label, .gameButton {
    font-size: 16px;
    font-family: IBM Plex Sans;
    font-weight: 400;
    color: #879DFA;
    cursor: pointer;
    max-width: 400px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 25px 20px;
    border: 2px solid #A3B4FF;
    border-radius: 10px;
    letter-spacing: 1px;
    user-select: none;
    transition: background-color 300ms, color 100ms
}

.welcomePageGameButtonList .gameButton {
    margin-bottom: 24px
}

.welcomePageGameButtonList .gameButton:last-child {
    margin-bottom: 0
}

.gameButton {
    color: white;
    border: none;
    background-color: #879DFA
}
    
.radioButton input[type="radio"]:checked + label {
    background-color: #A3B4FF;
    color: #fcfcfc;
    font-family: IBM Plex Sans;
    font-weight: 600
}

.radioButton input[type="radio"] {
    display: none
}

.statusBox {
    background-color: 'white';
    padding: 15px;
    color: '#879DFA';
    border-radius: 10px;
    box-shadow: '1px 2px rgba(0,0,0,0.5)'
}